[2018-07-26 18:08] jesusrp98 opened #1 "Check if launch url is missing"

[2018-07-26 18:08] #1 closed

[2018-08-10 15:08] jesusrp98 opened #2 "'Block null' on Falcon 1 missions."

[2018-08-10 15:09] #2 closed

[2018-12-07 19:17] nextgensparx opened #4 "[Feature request] Launch notifications"
Could you add a feature to send a notification before a launch takes place? I like to watch the livestreams but often forget when they are.

[2018-12-08 11:47] jesusrp98 commented on #4
I'm currently developing a whole new SpaceX app in the [space-curiosity](https://github.com/jesusrp98/space-curiosity) repository. Once I finished it, I'm going to push all changes (basically the entire SpaceX module) to this repo. I'd like to start integrating it into here in about a week.

One of the features I've added is 'Add to calendar' support. Using [this package](https://pub.dartlang.org/

[2019-01-12 19:18] jesusrp98 commented on #4
I've already merge the `v2` branch to `master`, which means that all changes are now available to everyone!

As I said, the 'Add to calendar' feature is fully implemented and working.

Unfortunately, I'm not able, at this moment, to implement a fully functional dynamic notifications system, but if in the future I manage to integrate it, I'll reopen this issue.

Thanks, and enjoy the v2.0 update! :

[2019-01-12 19:18] #4 closed

[2019-01-21 18:34] bkbonner opened #6 "building iOS portion"
I was trying to run the iOS portion and I ran into the issue described here:  https://github.com/ja2375/add_2_calendar/issues/4

Were you able to work around this issue?

[2019-01-21 22:20] jesusrp98 commented on #6
Unfortunately, I have 0 experience with the iOS part of Flutter. I have had several problems with the `add_2_calendar` package in the past. It was an issue with Kotlin & some Android SDK tools, updating those tools solved my issue.

I work with @AppleEducate on some other projects, where he manage the iOS aspect.

Hope he could help you where I can't. I'm sorry :/

[2019-01-22 03:37] rodydavis commented on #6
@bkboner I use the package in other apps. What are you trying to build for? Release mode?

[2019-01-22 03:38] rodydavis commented on #6
Have you added #use_frameworks! To the podfile? It is required for swift plugins

[2019-01-22 14:42] bkbonner commented on #6
Hi sorry, I'm not super familiar with iOS stuff.   [this stackoverflow](https://stackoverflow.com/questions/41210249/why-do-we-use-use-frameworks-in-cocoapods/41210375) says use_frameworks! isn't needed for > iOS 9?   I'll give it a shot though.   I have xcode Version 10.1 (10B61) installed.

It sounds like I'm trying to get something to work that may have never been working to begin with.   The r

[2019-01-23 00:30] rodydavis commented on #6
It’s definitely needed. You will need to create the main project with swift and kotlin flags enabled. This project I believe was built with just objC on ios

[2019-01-23 10:05] jesusrp98 commented on #6
This project was created months ago, when I didn't know was I was doing. Is there a way I could add Swift and Kotlin support a posteriori?

[2019-01-23 12:07] rodydavis commented on #6
Not sure. For me I have had the best luck creating a new project and porting the /lib folder

[2019-01-24 13:31] jesusrp98 commented on #6
I've been doing some refactor on the Android, iOS & packages side of this project. Basically, I've generated a new project, and comparing both project, checking for updated done on the last few months.

Hopefully it works now :)

[2019-01-24 18:25] rodydavis commented on #6
Right on!!!

Sent from my iPhone

[2019-01-24 18:42] jesusrp98 commented on #6
Does it work to you?
Before the update, it didn't work on CodeMagic, but since the last commit, it now generates the 'Runner.app' flawlessly :)

[2019-01-24 20:56] rodydavis commented on #6
I haven’t tried it yet, I am about to try out code magic though 👌🏻

[2019-01-30 19:58] jesusrp98 commented on #6
@bkbonner Since I think this is now solved, I'm closing this issue. If you have further iOS issues, please let me know :)

[2019-01-30 22:59] bkbonner commented on #6
Sorry for the delayed response.   been buried with a production issue.   I am testing it out tonight.  Thank you for the assistance.   My apologies, I'm usually more prompt than this.

[2019-01-31 02:54] bkbonner commented on #6
I was able to get it to work by copying over the lib and assets directory from the old project to a flutter project created with -i swift.

I ran diff -rq spacex-go spacex-swift

where space-go is the orig project and spacex-swift is project created with -i swift and I've attached a list of files that were different. Too many to mention.

There were so many differences, it was easier to just move

[2019-01-31 03:37] bkbonner opened #7 "Adding a launch to the calendar fails on iOS"

[2019-01-31 15:29] jesusrp98 commented on #7
This issue should now be resolved, thanks to your pull request and subsequents commits.
Thank you very much for your help & support :)

[2019-01-31 15:32] jesusrp98 commented on #6
Did you check if the changes made in d5f8ba35c046a47146e1de39aeaf502d69b20fe0 solves this issue?
Please, run `git pull` and let me know if I have to make further updates to the `iOS/` folder.

[2019-01-31 19:40] bkbonner commented on #6
I did not, but can pull that tonight.

btw, fwiw  I noticed that you're making changes on the Master branch.  In
my experiences, the master branch is usually reserved for code that has
been released to the world.
Normal development should happen on the Develop branch and then merged into
master when it's ready to be released.   That way, you can proceed w/
normal development and enhancements, and

[2019-01-31 19:44] bkbonner commented on #6
I had copied the lib and assets directories over to a new swift based
project.   I had tried to do the compare...but there were just too many
places and I didn't want to wipe out your stuff.

I will take a look.   If it doesn't work, I'm happy to replace it w/ my
changes from a swift project as a pull request for you.    I'm able to pull
the app up.  There are still bugs, but it at least runs.

I'

[2019-01-31 22:05] jesusrp98 commented on #6
In the commit I referenced in my last comment, I basically created a new Flutter project, and compared the new project with the old one, and included those changes. If there are significant and key changes between the `master` branch & your local copy, please consider posting a pull request.

Regarding Git, I want to take a deeper look into more complex systems, like `git-flow`. Since the v2.1 is

[2019-02-01 05:06] benwaffle opened #9 "publish android app to f-droid"

[2019-02-02 04:27] bkbonner commented on #6
@jesusrp98 I will have to get back to you re: the iOS portion.

There are a few things missing:

1.  in info.plist  this is missing and required by add_2_calendar:

`<key>NSCalendarsUsageDescription</key>
<string>SpaceX-GO would like permission to add launches to your calendar</string>`

When I tried to pull up your project, it would not start and threw many errors re: locale.  I can compare them

[2019-02-02 19:37] jesusrp98 opened #10 "Error scroll on list when refreshing"
Trying to scroll down a list while app is refreshing data generated a graphical bug.

[2019-02-02 19:38] #10 closed

[2019-02-02 19:55] jesusrp98 commented on #6
That's unfortunate, since I don't know basically anything about iOS development.
I'm very grateful to you for taking some of your time to investigate & fix all issues in the iOS section of this project.

Since my other project with @AppleEducate will be uploaded to the App Store, and it shares most of the structure & packages from `spacex-go`, I think we will be able eventually to fix all issues i

[2019-02-02 20:01] jesusrp98 commented on #9
As I can see, it's not hard to upload a Flutter app to F-Droid. This [article](https://nikhiljha.com/2018/09/publishing-your-flutter-app-on-f-droid/) explains how to it. Unfortunately, I haven't upload any app to that service yet. Is it free? Do I need a personal server of somehow? Which changes do I have to implement to be able to upload it? Unfortunately, I don't know any answer to these questio

[2019-02-02 21:41] rodydavis commented on #6
Absolutely, once we finish the other one I can merge the iOS portion for this app.

[2019-02-02 21:55] benwaffle commented on #9
It's free. You don't need a server. I don't think you need to make any changes.

[2019-02-07 16:06] jesusrp98 commented on #9
Since I now have more free time, I'm now going to take a deeper look at publishing SpaceX-GO! to F-Droid. I think it shouldn't be so hard to achieve this. Should be up by next week, if there aren't any problems.

[2019-02-15 12:14] jesusrp98 opened #11 "Add core & capsule catalogue"
Ability to select a specific core or capsule from a list

[2019-02-15 12:17] jesusrp98 opened #12 "Refactor photos file"
Delete all hardcoded URLs from the app to download specific images, and instead use the `firebase_storage_image ` package.

[2019-02-15 12:18] jesusrp98 opened #13 "Improve User Interface"
- [x] Adjust widget & screens sizes, to better fit in a smaller screen.
- [x] Separate Swiper, Map & SliverAppBar into specific custom widgets.
- [x] Separate SimpleDialog into a specific widget.
- [x] Implement TextExpand, for launch pages & achievement cells.
- [x] Implement rounded corners vehicle profile image.
- [x] Avoid having a long title in most widget's titles.
- [x] Check & fix every si

[2019-02-15 12:18] jesusrp98 opened #14 "Improve folder structure"

[2019-02-19 11:50] #14 closed

[2019-02-19 12:19] jesusrp98 opened #16 "Refactored `PopupMenuButton` around the app"

[2019-02-19 12:19] #16 closed

[2019-02-22 13:44] jesusrp98 commented on #12
Instead of using Firebase, going to move photo URLs to a new file, called `photos.dart`, inside `util/`.

[2019-02-22 13:45] #12 closed

[2019-02-27 19:45] jesusrp98 opened #18 "Add quick actions"
A quick actions for `vehicles`, `upcoming` & `latest` tabs. These actions can be accessed from the app's icon in the home screen.

[2019-03-01 13:44] #13 closed

[2019-03-01 17:11] #18 closed

[2019-03-08 11:34] jesusrp98 opened #19 "Improve Readme.md"
- Add screenshots from the app.
- Add [shields.io](https://shields.io/) items.

[2019-03-08 11:34] #19 closed

[2019-03-13 19:03] jesusrp98 opened #20 "Add Patreon dialog"

[2019-03-13 19:03] #20 closed

[2019-03-17 15:07] jesusrp98 opened #22 "Refactor widgets"
Add `@require` tags & general refactor.

[2019-03-17 15:08] jesusrp98 opened #23 "Notifications support"
Using the `flutter_local_notifications` package.

[2019-03-17 15:08] #22 closed

[2019-03-28 08:21] jesusrp98 opened #25 "Improve Scoped models"

[2019-04-07 12:06] #25 closed

[2019-04-07 12:07] jesusrp98 opened #27 "Add Comic Sans switch to settings"

[2019-04-14 17:24] jesusrp98 commented on #27
This feature has been axed.
* sad noises *

[2019-04-14 17:24] #27 closed

[2019-04-15 15:35] #23 closed

[2019-04-17 11:28] deandreamatias opened #29 "Review UI/UX"
Hi people.
My name is Matias and I am an aspiring Designer UI / UX, with some project like [this](https://www.behance.net/gallery/77595511/Technological-Support-Mobile-App-UI-UX).
I wanted to compile here some suggestions on the part of UI and UX of the application, which I liked for being in Flutter (which I am studying) and open source <3.
I would like to discuss them and in case I accept some o

[2019-04-17 13:38] jesusrp98 commented on #29
Such a great review!
There's a lot of changes that could be implemented to improve the UX/UI. Going to write a list with all changes that could be implemented in the v2.4 update, scheduled for May.

Going to post that list here once I have the definitive one.

[2019-04-19 10:49] jesusrp98 opened #30 "Substancial UI/UX improvements"
Update specific UI elements, to improve the overall user experience. This issue is inspired by #29 and will be completed in conjunction with @deandreamatias.

- [x] Update 'Settings' & 'About' screen, separating all list elements into categories.
- [x] Improve contrast between navigation bar & background when dark mode is on.
- [x] Improve 'top bar' and title legibility.
- [x] Improve the Home scr

[2019-04-25 17:45] jesusrp98 opened #33 "Implement RowItem & Separator as a dependency"
Create public Dart plugins, upload them to the [Dart Packages](https://pub.dartlang.org/) website.
This means that both widgets will have to be more customizable.
After that, add the package as a dependency inside the `pubspec.yaml` file.

[2019-04-25 17:46] jesusrp98 opened #34 "Implement ExpandWidget as a dependency"
Create public Dart plugins, upload them to the [Dart Packages](https://pub.dartlang.org/) website.
This means that the widget will have to be more customizable.
After that, add the package as a dependency inside the pubspec.yaml file.

[2019-04-26 09:08] deandreamatias opened #35 "Contrast in SearchBar/TopBar in light theme"
## Environment

**SpaceX Go Version:**  2.4.0 - better-ux
**Android Version:** 8.0
**Device Information:**
- Manufacturer: Huawei
- Model: P10 Lite
---

## Description

**Expected behavior**:
When using the search function, in the search field, have a contrast between the word 'search' and the field.
**Current behavior**:
Don't have a contrast.

## Steps to reproduce

1. Go to settings.
1. Select

[2019-04-26 12:43] jesusrp98 commented on #35
Since I'm using the `material_search` package, and it doesn't allow to change the textbox's color, I can't do anything to fix this issue.

Fortunately, I've been planning to update the search screen for a while now. I'm planning to add more filter options, and of course, fix this issue as well.

This new search screen is planned for the June-July update.

[2019-05-02 11:59] maaudrana opened #36 "[SpacexGo][v2.3.0]Problem in search bar color and fonts color."
<h4>Actual Behaviour</h4>
The search color and the fonts color are same thats why hard to read or see what i have written.
<h4>Expected Behaviour </h4>
I expected that the font will be in other color rather than search bar color
<h4>Step to reproduce </h4>
<ol>
<li>install and open the app</li>
<li>From home page ,click the three horizontal dots then click settings(its dark mode as default)</li>
<

[2019-05-02 12:04] deandreamatias commented on #36
Hi @maaudrana, thanks for your report!
This issue is already described in #35. But I will change the title of the other issue to avoid problems in the future.
Thanks

[2019-05-02 12:27] jesusrp98 commented on #36
Hey, thanks for taking the time to report this bug!

As @deandreamatias said, this issue has been already reported. The problem lays on the package that I'm using at this moment, to implement the search functionality.

I'm planning to implement a much better search functionality, with more filter options in the future. This feature is planned for July, since at this moment I don't the time necessa

[2019-05-10 14:02] mneira10 opened #37 "Memory consumption is too high"
## Environment

**App version:**

2.3.1

**Android version:**

Android 9 Pie (API 28)

**Device information:**

Xiaomi Mi 8 lite

## Description

The memory consumption of the app can get up to 300Mb!!! (see memory profile of the app in the images section) This happens because the urls gotten from the spacex API correspond to images in flicker that can be 6k by 4k and are stored in cache with the

[2019-05-10 14:11] mneira10 commented on #37
Pd: It would be amazing if users could set the image quality! This way, they could choose if they want to sacrifice their data consumption or not.

[2019-05-10 17:01] mneira10 opened #39 "Latest tab crash on refresh and scroll down without internet"
## Environment

**App version:**

2.3.1

**Android version:**

Android 9 - API 28

**Device information:**

Xiaomi Mi 8 Lite

## Description

**Current behaviour:**
When there is no data (or the user turns off wifi and mobile data), refreshes the latest tab and scrolls down, the app displays a red screen with a range error.

Related to #10

**Expected behaviour:**

The app should not display error

[2019-05-12 10:03] deandreamatias commented on #30
![](https://github.trello.services/images/mini-trello-icon.png) [Massive UI/UX update](https://trello.com/c/I5hEwyOj/1-massive-ui-ux-update)

[2019-05-12 10:19] jesusrp98 commented on #37
Thank you very much for your feedback!
I'm planning to add a new settings option, where users can select the resolution of the images from Flickr.

By default, image resolution would be high enough for mobile users - maybe medium or small.

If you think how this feature could be implemented, share it!

This will be included in the v2.5 release, scheduled for release in June, since I'd have to impl

[2019-05-12 10:22] jesusrp98 commented on #39
Planning to add connection awareness, for both loading & reloading methods in the near future. What you've implemented in the pull request is a pretty good start.

Like the image quality settings, this will be implemented in the v2.5 update. You can continue tinkering with this feature in #38 if you want to :)

Thank you very much!

[2019-05-12 10:36] deandreamatias commented on #33
![](https://github.trello.services/images/mini-trello-icon.png) [Add RowItem & Separator as a dependency](https://trello.com/c/HznxfLUv/2-add-rowitem-as-a-dependency)

[2019-05-12 10:36] deandreamatias commented on #34
![](https://github.trello.services/images/mini-trello-icon.png) [Add ExpandWidget as dependency](https://trello.com/c/VPnjJzSm/3-add-expandwidget-as-dependency)

[2019-05-14 14:09] #33 closed

[2019-05-15 11:24] jesusrp98 commented on #37
Which quality levels should I, in your opinion, implement? I'm going to use the [Flickr URL API](https://www.flickr.com/services/api/misc.urls.html), as you suggested in the pull request.

As for the quality levels, I was thinking about adding just three:
- Low (n): https://live.staticflickr.com/65535/47720639872_284e49381d_n.jpg.
- Medium (-) default value: https://live.staticflickr.com/65535/477

[2019-05-16 09:12] #30 closed

[2019-05-16 09:13] jesusrp98 commented on #36
Closing this issue, because it's duplicated.

See #35.

[2019-05-16 09:13] #36 closed

[2019-05-16 09:18] jesusrp98 commented on #29
With the help of @deandreamatias, there have been lots of UI/UX tweaks implemented in the v2.4 update.
Go to issue #30 if you want to check which specific changed have been made.

Thanks once again to @deandreamatias to take the time to write this UI review, and for continuously helping me develop this project!

[2019-05-16 09:55] jesusrp98 commented on #37
![](https://github.trello.services/images/mini-trello-icon.png) [Image quality settings](https://trello.com/c/kE70wmuw/4-image-quality-settings)

[2019-05-16 09:56] jesusrp98 commented on #39
![](https://github.trello.services/images/mini-trello-icon.png) [Connection awareness](https://trello.com/c/vk9T1y5G/5-connection-awareness)

[2019-05-16 09:56] jesusrp98 commented on #11
![](https://github.trello.services/images/mini-trello-icon.png) [List of cores & capsules](https://trello.com/c/hdrzxdP4/6-list-of-cores-capsules)

[2019-05-16 13:42] deandreamatias opened #41 "The link in About SpaceX Go! is a giphy"
## Environment

**App version:**  2.4.0
**Android version:**  8.0
**Device information:**  Huawei P10 Lite

## Description

**Expected behavior:**
When press in About SpaceX Go!, open a release details.

**Current behavior:**
When press in About SpaceX Go!, open a giphy.

## Steps to reproduce

1. Open menu and select about
2. Press in About SpaceX Go!
3. Look a giphy

[2019-05-16 13:43] deandreamatias commented on #41
![](https://github.trello.services/images/mini-trello-icon.png) [Create a release details](https://trello.com/c/1bButwjy/14-create-a-release-details)

[2019-05-16 13:59] #29 closed

[2019-05-16 23:07] mneira10 commented on #37
The issue boils down to a trade off between image quality and memory consumption. I would prioritize user experience and start at the upper end with high quality images and gradually decrease the quality until it is no longer pleasing.
From that point, if the memory consumption is still too high, further optimizations would need to be done.

On the other hand, I think the quality levels are good.

[2019-05-22 18:35] jesusrp98 commented on #37
I've been working in the `image_quality` branch for a couple days now, and already pull all changes to the `dev` branch.

As describe in #44, there's now a new setting, where you can select image quality for all photos, stock & downloaded ones.

If I have some spare time in the coming days, I'd like to check the performance improvements this new feature brings to the table.

If you want @mneira10,

[2019-05-23 08:50] jesusrp98 commented on #41
One alternative to the Elon Musk easter egg would be a complete changelog from the app.

[2019-05-28 14:49] jesusrp98 commented on #39
Changes made to control network status are now pulled to the `dev` branch.
* Every time the user pulls to refresh the screen, it checks if there's internet available. If not, information will be kept at display, and then warns the user that there isn't an internet connection available to download data from.
* Also, if the app starts and it checks that there's no internet, it will show a custom scr

[2019-06-09 10:36] jesusrp98 commented on #34
This has been achieved by creating the [`expand_widget`](https://pub.dev/packages/expand_widget) package, with built-in animation.

[2019-06-09 10:36] #34 closed

[2019-06-09 10:49] jesusrp98 commented on #41
This feature has been now added. The changelog can be find [here](https://github.com/jesusrp98/spacex-go/blob/dev/CHANGELOG.md).

Here is a photo of how it looks like:

![Screenshot_20190609-123444](https://user-images.githubusercontent.com/8961959/59158052-d42d5d80-8ab4-11e9-917b-fd972afa18af.jpg)

[2019-06-09 10:49] #41 closed

[2019-06-09 14:20] #37 closed

[2019-06-09 14:20] #39 closed

[2019-06-23 10:01] jesusrp98 opened #49 "Swap ScopedModel in favor of Provider"

[2019-06-23 10:04] jesusrp98 opened #50 "Add new icons to the app"
Change the main app icon, as well as adding new ones, like 'Capsule', 'Core' and the placeholder launch patch.

[2019-07-10 08:09] jesusrp98 opened #53 "Implement a custom theme"
This theme should wrap the entire app. It will custom styles & fonts.

[2019-07-10 08:12] jesusrp98 opened #54 "Implement a new foler organization"

[2019-08-24 13:04] #54 closed

[2019-08-24 13:04] #53 closed

[2019-08-24 13:04] #49 closed

[2019-08-25 12:49] jesusrp98 commented on #35
Finally, I have the time to take a look at this issue.

I'm building a new component, extending the [SeachDelegate](https://api.flutter.dev/flutter/material/SearchDelegate-class.html) class from the Flutter framework, which will allow me to implement a more customized search experience.

One thing I wanted to add is new filtering options. At first, I wanted to add another screen where the user wou

[2019-08-25 12:55] jesusrp98 commented on #6
Hey @bkbonner, long time I don't take a look at this issue.

Recently, I had the opportunity to grab a Mac mini for other projects, and now I have the change to launch SpaceX GO! as a standalone app in the App Store.

I'm updating the `ios` folder in the [dev-ios](https://github.com/jesusrp98/spacex-go/tree/dev-ios) branch if you want to take a look. At first glance, all the features the app offer

[2019-09-25 16:42] jesusrp98 commented on #35
After some months of work, this feature is now implemented in the v2.7 update!

You can now filter by mission name or launch vehicle, and on the vehicle side by name or maiden launch year.

The UI now tells the user these new filter options. Contrast bugs have also been fixed, since I'm now using the `SearchDelegate` method from the Flutter framework.

[2019-09-25 16:42] #35 closed

[2019-09-27 01:04] skemayou opened #63 "Apply boutton"
Hi Jesusrp98
Thanks for your great job.
I am new with flutter and i am trying to consume my restful service here http://pambe-jobs.com/apex/a182480/jobs/positions
the json format is not the same as the one you r using.
can you please help me how can i make it works

Thanks

[2019-09-30 10:23] jesusrp98 commented on #63
Hey @skemayou thanks for asking.

This page is used only to post issues related to the SpaceX GO! project.
You can write to my [personal email](mailto:jesusrope98@outlook.com) for further Flutter-related questions.

Hope you understand :)

[2019-09-30 10:23] #63 closed

[2019-10-02 18:26] jesusrp98 opened #64 "Add Isp values to rockets & capsules"
Add Isp values to Dragon capsules, and sea-level & vacuum Isp values to all known rockets.

[2019-10-16 02:11] ButterflyTech opened #67 "added an easter egg for this app?"
## Environment

**App version:**
2.8
**Android version:**
Andriod 10
**Device information:**
XiaoMi Transparent 9

## Description
I have a crazy idea, I want to add an egg to this app, a game egg: a rocket simulator game egg like Spaceflight Simulator

**What you'd like to happen:**

a rocket simulator game egg like Spaceflight Simulator

**Images:**
![image](https://user-images.githubusercontent.

[2019-10-16 14:43] jesusrp98 commented on #67
Are you planning about adding a whole game to this app??

How it could be? I mean, it'd increase the size of the app considerably.
One option would be app a link to its Store page or something, adding a whole game would be overkill.

[2019-10-16 14:53] zinwalin commented on #67
it's better to focus features with flutter.  I'm interested in push notification, local or remote.

[2019-10-16 16:28] jesusrp98 commented on #67
Yeah, me too! I'm also really interested on adding cool & new features.
For instance, local notifications were introduced a couple versions earlier.
Features like improved search, 'add to calendar'...

If you have suggestions about new & interesting features, let me know @zinwalin @ButterflyTech !

[2019-10-17 04:00] ButterflyTech commented on #67
emmm, maybe a mini version will have a mini size, only included Spacex rockets, Earth and Mars, I will try to build an alpha version to see the package size, later, we will decide whether to add this egg, how?

[2019-10-17 04:12] ButterflyTech commented on #67
how about [firebase fcm ](https://firebase.google.com/docs/cloud-messaging)to implement the remote notification feature?

[2019-11-16 16:03] DitchDoctors opened #70 "Not sure how to describe this (dev branch)"
I was playing with the app earlier and the master branch worked perfect on my android virtual device then i switched to the dev branch and this happened. It happens on a real ios device as well. I didnt change anything in these examples. I dont know if its a real issue or if im just dumb so I thought Id share :)
<img width="202" alt="Capture" src="https://user-images.githubusercontent.com/50470266

[2019-11-16 17:57] jesusrp98 commented on #70
Found this exact bug when updated all project dependencies. This is an issue of the translation package.

Opened an [issue](https://github.com/ilteoood/flutter_i18n/issues/54) a couple minutes later, and it seems it has been fixed in the v0.8.2 update.

Pull all the changes I've doing since, simply `git pull` :)

[2019-11-16 18:39] DitchDoctors commented on #70
Oh, I'm sorry for bothering you. Thanks! Ill try it after a nap.

post-nap edit: Worked :)

[2019-11-16 18:39] #70 closed

[2019-11-18 19:17] jesusrp98 opened #71 "Update home tab"
Add a new time about the landing procedure, as well as landing area.

[2019-11-18 19:19] jesusrp98 commented on #50
All icons are now added to the app:
- Capsule icon
- Booster icon
- Default launch patch
- App icon

[2019-11-18 19:19] #50 closed

[2019-11-18 19:19] #64 closed

[2019-11-18 19:19] #71 closed

[2019-11-21 04:44] AfLosada opened #72 "Bug when you start the app, loading screen doesn't change"
## Environment

**App version:**  2.7
**Android version:**  9
**Device information:**  ASUS_X017DA
## Description

**Expected behavior:**
When the app cold starts, it should update the home page when it downloads all API images.

**Current behavior:**
When the app cold starts, it stays forever in the loading screen until you interact with, it works if you click on some other tab.

## Steps to repr

[2019-11-27 12:30] jesusrp98 commented on #72
This issue has been around for a couple versions now. It's related to how data is load using `QueryModel` and the `provider` package.

At this moment, I don't know how to fix it. If anyone thinks how to solve this issue, please let me know :)

[2019-11-27 12:30] #67 closed

[2019-12-04 15:31] DrankoLQ commented on #6
I've just cloned and run the app in iOS and works flawlessly! If you need to test something I'm pleased to help you folks 😊🚀

[2019-12-22 16:41] mbravorus opened #76 "getting packages fails"
in a freshly cloned repo, running `flutter packages get` produces error:

[code]

[2019-12-27 10:59] jesusrp98 commented on #76
This error was produced when I updated the package to support Flutter v1.12. There were a couple packages that weren't happy about that.

Luckily, all of them have been updated: the project should be able to build now.
Let me know if you have further issues :)

[2019-12-27 10:59] #76 closed

[2019-12-29 19:03] vladyslav2 commented on #6
@DrankoLQ hey, can you please tell me what I'm doing wrong?

I only can see loading screen and seems like an error with receiving data?

[code]

[2019-12-29 19:28] vladyslav2 commented on #6
Sorry guys
https://github.com/flutter/flutter/issues/17831

flutter clean did the thing!

@jesusrp98 thank you for your app!

[2019-12-30 13:39] jesusrp98 commented on #6
@vladyslav2 Glad your issue was fixed! :)

I was planning to launch the iOS app in the App Store this year, but unfortunately due to time constrains, I'll instead release it in the coming months, in Q1 2020, hopefully February.

More testing should be performed, like notifications, issue posting via email (available inside the 'About' screen) and a general interface inspection to check if there's

[2019-12-30 13:40] jesusrp98 commented on #11
This feature is delayed indefinitely.

[2019-12-30 13:40] #11 closed

[2019-12-31 12:54] jesusrp98 commented on #72
This appears to be now fixed, using the latest version of the `provider` package.

Let me know if it reappears :)

[2019-12-31 12:54] #72 closed

[2020-01-04 20:48] vladyslav2 opened #81 "ios app stop working"
## Environment

**App version:**  pulled master from github
**Device information:** iPhone 11 Pro Max

## Description
Once I click on any element on the home screen i'm getting black screen with that trace:
[code]

[2020-01-05 16:21] jesusrp98 commented on #81
This issue is related to the r/SpaceX REST API. There were two separated launches with the same launch id.

This was resolved a couples hours ago, and should be fixed now.
Could you try it again and tell me the result, please? Thanks :)

[2020-01-07 15:42] vladyslav2 commented on #81
@jesusrp98 sorry! its working now

Do you want to try to publish ios app at this weekend?

[2020-01-07 15:42] #81 closed

[2020-01-08 12:20] jesusrp98 commented on #81
I've working on the iOS aspect of the app inside the `dev-ios` branch, merged a couple months ago.
There are some things to test before I'm confident to release it to the App Store, such as quick actions functionality, the notifications system etc.

The app is almost ready to launch, I even bought an Apple Developer account, the only thing remaining would be add screenshots, and an app description

[2020-05-20 16:31] adrianmartinezverax opened #86 "closed"

[2020-05-22 07:54] izen1231 commented on #86
me too

[2020-06-20 13:50] #86 closed

[2020-06-22 02:56] zinwalin opened #89 "iOS issue: Conditional cast from 'AppDelegate' to 'UNUserNotificationCenterDelegate' always succeeds"
![image](https://user-images.githubusercontent.com/5416196/85244323-dae80200-b476-11ea-901a-ea8beb3580f7.png)

[2020-07-26 14:26] jesusrp98 commented on #89
Hey! I'll update the app to the iOS platform, and will check this issue.

Thanks for the report! :)

[2020-07-30 10:47] haikuowuya opened #94 "Permission denied (publickey) git@github.com:jesusrp98/cherry_components.git"
Git error. Command: `git fetch`
stdout:
stderr: git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2020-07-30 11:33] jesusrp98 commented on #94
Yeah sorry. I'm using a custom ui toolkit for all my apps called 'cherry' and until now it was private!
Right now it's WIP, but it will be cleaned and publish in pub.dev in the coming days/weeks.

The package is public now, so it should be fixed!

[2020-07-30 11:33] #94 closed

[2020-07-30 11:34] jesusrp98 commented on #89
Haven't had any problems building the app for iOS. Is this still an issue @zinwalin ?

[2020-08-18 13:38] #6 closed

[2020-08-18 13:38] #89 closed

[2020-08-31 09:53] Dexalt142 opened #99 "Upcoming launches list opens an incorrect launch page"
## Environment

**App version:** 2.10.1
**Android version:** 9
**Device information:**  Xiaomi Redmi Note 5 Pro

## Description

**Expected behavior:** When clicking the list item, it should open the corresponding launch page.

**Current behavior:** Clicking the second item will open the first item page and so on except for the last one. Clicking the last item will open a blank page.

## Steps to

[2020-09-05 19:11] jesusrp98 commented on #99
I know this issue very well. It is related to the API, that doesn't return correct data sometime, specially regarding flight numbers.

The app tells that screen to show launch details related to a specific flight number. If there are two flights with the same number, the system can be confused.

I hope this issue doesn't pop up in the future. I'm in the process of integrating all the features of t

[2020-09-05 19:11] #99 closed

[2020-09-20 18:24] redsolver opened #100 "Publish android app to SkyDroid"
[SkyDroid](https://skydroid.app) is a decentralized domain-based App Store for Android.

An app is published on a domain name by adding a TXT record, for example `app.example.com`, and the user can then install the app by entering `app.example.com` in the SkyDroid app or by simply clicking a link (like in a web browser). So it's basically a direct APK download with the added convenience of auto-up

[2020-12-30 01:23] Bohne13 opened #113 "Picture settings resolution"
## Environment
v.2.12.0
Android 10

Oneplus 7T with official open beta android

Pictures are shown if picture quality is set to medium or low, but at high quality I can't see any of the pictures!

Thanks for this great beautiful app, by the way!

[2021-01-01 20:31] jesusrp98 commented on #113
Hey! Thanks for identifying this bug.

It has been fixed on https://github.com/jesusrp98/spacex-go/pull/114.

Uploading it to the Play Store itm!

[2021-01-01 20:31] #113 closed

[2021-01-08 01:44] Bohne13 opened #115 "Livestream on YouTube"
## Environment

App: 2.12.0
Android: Android 10 security patch level Oktober 19
Device: OnePlus 7t

Open the Livestreams from YouTube directly in the YouTube Android App instead of the in-app browser window!

Thanks, would be nice!

[2021-01-09 13:03] jesusrp98 commented on #115
Hey @Bohne13
Thanks to the continuous support for the SpaceX GO! app!

I'd like to get more information about the question you've asked, because I don't really get what you're saying.

Could you explain it a bit further please?

[2021-01-09 13:10] Bohne13 commented on #115
Hey @jesusrp98

In your app on the home tab, it is possible to tap on "watch live" as soon as the livestream of the launch is available!?!

At the actual app version, when I tab on "watch live" it opens a browser window with YouTube.

It would by better if it's launching directly on the YouTube app (when it's installed on your phone)

[2021-01-09 13:16] Bohne13 commented on #115
And sorry,
I accidentally closed this issue and can't finde the option to undo this 😲

[2021-01-09 17:31] jesusrp98 commented on #115
Yes, when the livestream is available from SpaceX the Home tab would let you click the 'Watch live' to go to YouTube.

Unfortunately, I can't control if the app opens the YT app directly or rather the web browser.

[2021-01-09 17:51] m0veax commented on #115
But the users can set the default app for youtube links in their android
settings. Just added if someone finds that issue per search engine :)

Jesús Rodríguez <notifications@github.com> schrieb am Sa., 9. Jan. 2021,
18:32:

[2021-01-09 20:54] Bohne13 commented on #115
@m0veax

yeah, that's wright I checked this before i wrote this issue. So now I checked it again and I did made a screenshot

![Screenshot_20210109-214729](https://user-images.githubusercontent.com/20006695/104108440-fefd1a80-52c4-11eb-886f-ab5b6d929b91.jpg)

There are all the supported Youtube links listed. Could be a unsupported Youtube link why it's not working.

[2021-01-09 21:16] m0veax commented on #115
Do you have the possibility to debug the given URL?

Maybe we could continue from there?

If I find some time I will try to look that up next week

Jonas Haberkorn <notifications@github.com> schrieb am Sa., 9. Jan. 2021,
21:54:

[2021-01-10 15:06] jesusrp98 commented on #115
This is the link for the latest SpaceX launch, Turksat 5A: https://youtu.be/9I0UYXVqIn8.

Are you able to launch the YT app from the launch page, clicking in the play button?

[2021-01-10 21:18] Bohne13 commented on #115
@m0veax I checked this and what I did find out, it's a problem with the in-app-browser! So first of all the Android system is launching a Link in the in-app-browser (and I can't find some settings to deactivate the in-app-browser system wide).
When I go to "settings" in the in-app-browser and tab on "Open in Chrome" than it's switching automatically to the youtube app.

@jesusrp98 I tried that lin

[2021-01-11 18:51] jesusrp98 commented on #115
At this moment, this app opens URLs using a Flutter package that features in-app browsing. This is pretty handly, and improves UX in my opinion.

What you could do is trying to open the current YT in-app window using a native app. For example, the latest Firefox version allows you to do exactly that, with a handy 'Open in app' button.

I'm planning to rewrite how the app handles URLs in the future

[2021-01-11 19:04] Bohne13 commented on #115
Sounds like you have a fully loaded todo-list for 2021!

Thanks for the information about url-handling etc.
I will stay with Chrome and will be excited to see all the changes you have planed!
So you can close this conversation or let it open wit low priority ;)

[2021-01-11 20:44] m0veax commented on #115
Do you have a plan about the URL handling?

Maybe I can help out :)

Jonas Haberkorn <notifications@github.com> schrieb am Mo., 11. Jan. 2021,
20:04:

[2021-01-12 10:17] jesusrp98 commented on #115
I don't have a plan at this moment, just a couple ideas:
- Launching links in in-app browser should be the default, this is not going to change.
- Maybe implementing a setting that allows the user to open links using default system browser (but I need to investigate how to do this in Flutter).

[2021-01-12 11:38] m0veax commented on #115
If implementing a setting is okay for you, please assign me this issue.

This week I can't investigate, but I would like to get this done in
February :)

Jesús Rodríguez <notifications@github.com> schrieb am Di., 12. Jan. 2021,
11:17:

[2021-01-12 15:26] jesusrp98 commented on #115
No problem @m0veax. I'm closing this issue in favor of opening a new one detailing everything related to this new feature :)

[2021-01-12 15:26] #115 closed

[2021-01-12 15:27] jesusrp98 opened #116 "Improve URL handling"
Implement a feature that allows the user to open an URL with the in-app browser or rarher the system default one provided by the OS.

[2021-01-12 23:01] m0veax commented on #116
https://github.com/jesusrp98/spacex-go/blob/807152bd0111720848f0156749b0fbc42fc19aaa/lib/util/browser.dart#L3

I think about tinkering this function. A setting could be checked here and then we can open the system default browser.

If it is okay for you to add another dependency, we can use the following plugin:

https://pub.dev/packages/url_launcher

Otherwise I can take a look into the plugin so

[2021-01-13 10:29] jesusrp98 commented on #116
I'm currently using the `flutter_web_browser` package, which internally depends on `url_launcher` so we don't need to add any new dependency.

For storaging the setting, we should do something very similar to the ImageQuality setting, storaging the state with `shared_preferences` and accessing the data with `provider` down the widget tree.

[2021-01-13 10:34] m0veax commented on #116
Thanks for your input.

I had an eye on the image quality setting too and will adapt the code.

At the moment I can't work on this, but I hope to find time for it the next
weeks.

Jesús Rodríguez <notifications@github.com> schrieb am Mi., 13. Jan. 2021,
11:30:

[2021-02-10 18:30] Monik09 commented on #100
@redsolver , I want to contribute to this. may I?

[2021-02-11 09:29] jesusrp98 commented on #100
Hey @Monik09 thanks for offering your help. I'd really like for this package to be offered in SkyDroid, but I don't have the knowledge nor the time to support that.

It would be awesome if you team up with @redsolver on it!
Let me know if you need anything.

[2021-02-11 12:12] redsolver commented on #100
@jesusrp98 I added the needed metadata in #126, the only thing you need to do is to build a signed release APK and send it to me:
[code]

[2021-02-11 12:20] jesusrp98 commented on #100
Thanks for the job!
I have a couple questions here:
- Should I send you an APK, or an Android App Bundle (AAB) that combines 32 & 64bits binaries into one?
- I think there should be a better way to do this, maybe using GitHub Actions? I'd like to deploy to SkyDroid directly via some CD tools.

[2021-02-11 13:58] redsolver commented on #100
You can split the APKs by ABI and send me all the generated APK files to make the download size for users smaller (like with App Bundles): `flutter build apk --target-platform android-arm,android-arm64,android-x64 --split-per-abi` (This will generate 3 APK files)

---

imo using the SkyDroid CLI (https://skydroid.dev) to publish is easier than with GitHub actions, because you don't need to set up

[2021-02-11 14:20] m0veax commented on #100
+1 for using Github Actions with skyhub_cli

[2021-02-11 14:53] jesusrp98 commented on #100
Ok we can do it manually at this moment, and I will implement the automatic apk upload at a later time.

Could you please tell me your email for me to pass you the apk?

[2021-02-11 15:17] redsolver commented on #100
@jesusrp98 info@redsolver.net

[2021-02-12 20:00] jesusrp98 commented on #100
@redsolver Already sent it (sorry for the delay, busy day).

@Monik09 If you want to still contribute to this project you could take a look at how to deploy the APK directly from GitHub Actions!

[2021-02-12 20:08] redsolver commented on #100
@jesusrp98 Do you have a domain name or should I publish it under a custom one?

[2021-02-13 10:28] jesusrp98 commented on #100
The app's domain is `com.chechu.cherry`, you could use that, if that's what are you reffering to.

Currently I don't have any personal internet domain bought tho.

[2021-02-13 13:31] redsolver commented on #100
Ok, I just published it under a custom subdomain: https://to.skydroid.app/spacex-go.bridgedroid

[2021-02-13 15:58] jesusrp98 commented on #100
Thank you very much for the work here @redsolver!

Since this has already been done, I'm Closing the issue, but mention me if you need anything else :)

[2021-02-13 15:58] #100 closed

[2021-02-13 15:59] #116 closed

[2021-04-29 03:15] bahaafathi opened #132 "Red screen of death"
**i hope to assigned this bug to me and accept my pull request to this great beautiful app, Thanks.**
<img width="479" alt="Screen Shot 2021-04-29 at 2 08 32 AM" src="https://user-images.githubusercontent.com/35146824/116497570-006c4600-a8a8-11eb-8437-80a79b92c55e.png">
<img width="479" alt="Screen Shot 2021-04-29 at 2 12 20 AM" src="https://user-images.githubusercontent.com/35146824/116497586-082

[2021-04-29 09:22] jesusrp98 commented on #132
Hey @bahaafathi! Thank you very much for the support and for taking the time to find bugs!

I've read the fix you've done in your PR, but I don't think it's optimal, because displaying empty data on the 'Payload' card would be weird.

Instead, what I think should be done is to open an Issue on the [r/SpaceX API GitHub page](https://github.com/r-spacex/SpaceX-API), for the maintainer to notice that

[2021-04-29 14:33] bahaafathi commented on #132
You're right displaying empty data is weird. but less weird than the red page and it's a  temporary solution, I've open an Issue on the **SpaceX API**  to solve this problem,

[2021-04-29 17:19] bahaafathi commented on #132
###  problem solved by SpaceX API

[2021-04-30 07:55] jesusrp98 commented on #132
Nice! Thank you very much for noticing this!
Closing the issue.

[2021-04-30 07:55] #132 closed

[2021-05-07 09:30] aumb opened #134 "Images change and flicker on the home screen when scrolling the page"
## Environment

**App version: 2.13.0**
**Android version: 11**
**Device information: any**

## Description

**Expected behavior: Images should not flicker and change when scrolling on the home screen**

**Current behavior: When scrolling on the home screen the images in the swiper flicker and change as opposed to all the rest of the other image swipers**

## Steps to reproduce

On the home screen

[2021-05-08 08:55] #134 closed

[2021-08-20 11:06] giohappy opened #140 "Payload capsule could be null. Use null-aware operator to access its properties"
## Environment

**App version:**  master
**Android version:**  API29
**Device information:**  Emulator

## Description
The home tab crashes if payload.capsule is null [here](https://github.com/jesusrp98/spacex-go/blob/master/lib/ui/views/tabs/home.dart#L436).

Adding a null-aware access to the payload's capsule property fix the problem:

`payload.capsule?.serial == null`

## Images
Without null-aw

[2021-08-21 17:20] jesusrp98 commented on #140
Hey! Thank you very much for opening an issue related to this problem.
Unfortunately I've had zero time for this project lately :/

Could you please open a PR containing the fixes for this issue?
I'd more than happily merge them to `master` :)

[2021-08-22 18:27] #140 closed

[2021-09-03 16:34] patelmohammed357 opened #142 "Having errors running the SpaceX Go App using SpaceX API v3, only working with v4. how can i make it work with v3"
Having errors running the SpaceX Go App using SpaceX API v3, only working with v4. how can i make it work with v3?

[2021-09-06 07:00] thechawla225 opened #143 "Change in youtube button on "latest" tab"
## Environment

**App version:  2.14.0**
**Android version: 9**
**Device information: Oppo Realme 1**

## Description

In the 'Latest' tab, on touching on one of the launches there comes this button in yellow that leads to youtube link and opens brower:

![screenshot](https://user-images.githubusercontent.com/45570514/132173679-f7dcc17f-8073-4d43-806f-42105ada2644.jpg)

I suggest that this button

[2021-09-06 10:11] vipul1298 opened #144 "Vehicles tab"
## Environment

**App version:**  2.14.0
**Android version:** 9
**Device information:**  Redmi note 5 pro

## Description

**Expected behavior:** In working state

**Current behavior:** Showing as in below image given

## Images
![Screenshot_2021-09-06-15-26-32-443_com chechu cherry](https://user-images.githubusercontent.com/37983968/132200738-70442216-60a7-4f0a-bbda-71ca4dbb8b99.jpg)

## Stacktra

[2021-09-18 15:07] iNoles commented on #142
Well, V3 going to be deprecated soon.

https://github.com/r-spacex/SpaceX-API/issues/380

[2021-09-23 16:11] jesusrp98 commented on #144
This is an issue with the SpaceX API.

You can see more details here https://github.com/r-spacex/SpaceX-API/issues/910.

[2021-09-23 16:11] #144 closed

[2021-09-23 16:12] jesusrp98 commented on #142
Indeed, v3 of the API is going to be deprecated.

Consider using v4 or v5 of the API from now on.

[2021-09-23 16:12] #142 closed

[2021-09-27 08:00] jesusrp98 commented on #143
Hey @thechawla225!
Try navigating to 'Settings' and select 'System browser' as the 'Default browser'.

This way, you'd be using `url_launcher` to open URLs.
Hope this solves your issue :)

[2021-09-27 12:35] thechawla225 commented on #143
Thanks a lot @jesusrp98 I'll try that.

[2021-09-27 12:35] #143 closed

[2022-01-11 11:51] MujmillahammedDafedar opened #148 "animated route"
## Environment

**App version:**  2.14.0+81
**Android version:** 11
**Device information:**  VIVO V20
**Branch name:** `animated_route`

## Description

**What you'd like to happen:**
The custom transition between screens can make an app more unique and look attractive.

**Alternatives you've considered:**
To achieve above the goal, The `PageRouteBuilder` used for animation. This Animation can be

[2022-01-20 07:58] alunparanggi opened #149 "prevent users to close the app directly when back button is pressed"
## Environment

**App version:**  2.14.0+80
**Android version:**  10
**Device information:**  Samsung Galaxy A12

## Description

**What you'd like to happen:** when users press back button they will not close the app directly instead the screen will move to the first tab (home) then when they press it for the second time the app will be closed, just like instagram app.
*note : back button will on

[2022-06-03 14:52] MayankChopra12 commented on #148
@muzammildafedar Hi, Can I work on this issue?

[2022-06-05 08:50] muzammildafedar commented on #148
Issue has been already fixed. you can check in PR.

[2022-10-09 18:19] deveshtiwary19 commented on #149
Hey can you assign me the issue?

[2022-10-10 02:21] alunparanggi commented on #149
this issue has been already in pulled request